doctype
html
	head
		meta(charset="utf-8")
		title #{title}
		link(href = "/bootstrap/dist/css/bootstrap.min.css", rel = "stylesheet")
		script(src = "/jquery/dist/jquery.min.js")
		script(src = "/bootstrap/dist/js/bootstrap.min.js")
		script(src='cart.js').
		style(type = "text/css").
			.cart-heading{
				height: 40px;
				background-color: #EFEDED;
			}
			.cart-body{
				background-color: #F7F7F7;
			}
			.cart-body ul li {
				list-style-type: none;
				margin-left: -30px;
				width: 870px;
			}
			.cart-body ul li div{
				float: left;
				height: 80px;
			}
			.li-checkbox input{
				margin: 20px 5px 0 0;
			}
			.li-img img{
				width: 140px;
				height: 100px;
			}
			.li-content{
				margin: 20px 0 0 30px;
				width: 280px;
			}
			.li-price{
				margin: 20px 0 0 60px;
				width: 100px;
			}
			.li-quantity{
				margin: 20px 0 0 130px;
				width: 100px;
			}
			.li-del{
				margin: 20px 0 0 30px;
				width: 50px;
			}
			.li-img{
				margin: 0 0 0 10px;
			}
	body
		div(style='margin:50px auto;width: 900px;')
			div
				div
					div(style='float:right;')
						a.btn.btn-xs.btn-success(href='/', style='margin-right: 35px;') 商品页
					h2 购物车
					hr
				div
					.cart-heading
						div(style='padding: 10px 0 0 10px')
							span(style='margin-right: 200px;')
								input#CheckAll(type= 'checkbox')
							span(style='margin-right: 180px;') 商品
							span(style='margin-right: 210px;') 价格
							span(style='margin-right: 80px;') 数量
							span(style='padding-right: 0px;') 操作
					.cart-body
						ul
							-for(var i in Cart)
								if(!Cart[i].cId)
									continue
								li
									.li-checkbox
										input(type= 'checkbox')
									.li-img
										img(src="#{Cart[i].cImgSrc}")
									.li-content
										a(herf= '/shop/#{item_id}') #{Cart[i].cName}
									.li-price
										span #{Cart[i].cPrice}
									.li-quantity
										a(data-type='add' herf= 'javascript:void(0);' class="btn btn-default btn-xs") +
										input(id= '#{i}')
					div(style='float: right;height: 35px;width:330px;') 总计：
						span#money(style='color: red;font-size: 25px') ￥0.00
						input.btn.btn-success(type='button', style='width: 130px; float:right;', onclick=' Clearing();', value='结算')
