extends ../layout

block content
	.container
		.row
			.col-md-7
				-/*flash*/
				embed(src = "#{shop.flash}", allowFullScreen = "true", quality = "high", width = "720", height = "600", align = "middle", allowScriptAcess="always", type="application/x-shockwave-flash")
			.col-md-5
				dl.dl-horizontal
					dt Name
					dd= shop.title
					dt  orign
					dd= shop.orign
					dt Year
					dd= shop.year
					dt Summary
					dd= shop.summary
					.btn-pay
						a.btn.btn-primary(href = "", role= "button") Pay for it